<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WEATHER_SERVICE_ENDPOINT" value="http://api.openweathermap.org/data/2.5/weather" />
    <add key="OPEN_WEATHER_MAP_API_KEY" value="4665694394cbb20ca15d9d687594cba4" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GlobalWeatherSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GlobalWeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/globalweather.asmx" binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap" contract="webservicex.globalweather.GlobalWeatherSoap" name="GlobalWeatherSoap" />
      <!--<endpoint address="http://www.webservicex.net/globalweather.asmx"
          binding="customBinding" bindingConfiguration="GlobalWeatherSoap12"
          contract="webservicex.globalweather.GlobalWeatherSoap" name="GlobalWeatherSoap12" />-->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>