<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>iasset - Technical Test</title>
<link href="content/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="myApp" ng-controller="MainCtrl" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Technical Test</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="home" class="active" ng-click="navClicked('home')"><a href="#">Home</a></li>
                <li id="weatherInfo" ng-click="navClicked('weatherInfo')"><a href="#!WeatherInfo">Weather Info</a></li>
                <li id="about" ng-click="navClicked('about')" ng-hide="true"><a href="#">About</a></li>
            </ul>
        </div>
    </nav>  
    <ng-view></ng-view>
</body>

<script src="js/vendor/jquery-1.10.2.min.js" ></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/Controllers/WeatherInfoCtrl.js"></script>
<script src="js/Directives/weatherInfoDirective.js"></script>
<script src="js/Services/WheatherResourceSvc.js"></script>
<script src="js/Services/LoggerSvc.js"></script>
</html>