<div class="Container">
    <ul>
        <li>I have used VS 2017 community edition to develop ASP .Net WebAPI</li>
        <li>After completing this solution, I checked if its working on VS2013.  Due to different version of 'NuGet.exe' packages were not getting downloaded.</li>
        <li>To fix this I have checked in 'packages' folder in <a href="https://github.com/hemantshelar/iasset">GIT</a></li>
        <li>Source code can be found <a href="https://github.com/hemantshelar/iasset">here</a></li>
        <li>API are hosted <a href="http://publicapitest.azurewebsites.net/Help">here</a></li>
        <li>Actual UI for test solution is <a href="#!WeatherInfo" ng-click="navClicked('weatherInfo')">here</a></li>
    </ul>
</div>